body{
	background:url("../img/snow-mountain-bottom.png") no-repeat, url("../img/gradient.jpg") repeat-x;
	background-position: center top, left top;
}

.wrapper{
	width:1024px;
	height:auto;
	max-width:1024px;
	margin-left:auto;
	margin-right:auto;
	overflow:hidden;
}

.footer{
	width:1024px;
	height:auto;
	text-align:right;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
}

.footer a{
	color:#000000;
	font-size:10pt;
	padding-left:15px;
	padding-right:15px;
	cursor:pointer;
	display:inline-block;
}

.footer p{
	font-size:10pt;
	float:left;
	display:inline-block;
}

.footer hr{
	margin:0;
	margin-bottom:10px;
}

.content-left{
	width:720px;
	height:auto;
	min-height:200px;
	float:left;
}

.content-left p{
	text-align:justify;
}

.right-col{
	width:300px;
	height:auto;
	overflow:hidden;
	float:right;
}

.half-col-left{
	width:510px;
	height:auto;
	float:left;
}

.half-col-right{
	width:510px;
	height:auto;
	float:right;
}

.content-full{
	width:100%;
	height:auto;
	overflow:hidden;
}

/****S**** Small Styles ****S****/

.no-border{
	border:none !important;
}

.font-white{
	color:#FFFFFF !important;
}

.indent-justify{
	padding-left: 10px;
	text-align: justify;
}

.bg-off-white{
	background:#F9F9F9;
}

.bg-trans-black{
	background:rgba(0,0,0,0.8);
}

.bg-trans-white{
	background:rgba(255,255,255,0.8);
}

.right-col-center{
	width:300px;
	text-align:center;
}

.float-left{
	float:left;
}

.float-right{
	float:right;
}

/****E**** Small Styles ****E****/

/****S**** Header ****S****/

.header{
	width:100%;
	height:auto;
	text-align:right;
	margin-top:10px;
	margin-bottom:10px;
}

.header a{
	color:#000000;
	font-size:10pt;
	padding-left:15px;
	padding-right:15px;
	cursor:pointer;
}

#header-title{
	width:720px;
	height:140px;
	border: 1px solid #d4d4d4;
	border-top-right-radius:5px;
	border-top-left-radius:5px;
	-moz-border-top-right-radius:5px;
	-moz-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	padding-top:10px;
	background:url("../img/header_1.jpeg") no-repeat;
	margin-bottom:10px;
}

#header-title h1{
	width:600px;
	color:#FFFFFF;
	background:rgba(0,0,0,0.7);
	padding-top:20px;
	padding-bottom:20px;
	text-align:center;
}

/****E**** Header ****E****/

/****S**** Navigation ****S****/


/****E**** Navigatiaon ****E****/

/****S**** Register/Login Modals ****S****/

#login-modal{
	width:400px;
	margin-left: -200px;
}

#login-form{
	width:300px;
	margin-left:50px;
	margin-top:10px;
	text-align:center;
}

#login-form input, #register-form input{
	margin-bottom:5px;
	display:block;
}

#login-modal .modal-footer{
	text-align:center;
}

#login-modal .modal-header, #register-modal .modal-header{
	border:none;
}

#register-form{
	width:380px;
	margin-left:90px;
}

#register-form .label{
	letter-spacing:1px;
	font-weight:100;
}

#register-form a{
	font-size:9pt;
	margin-left:-15px;
}

#register-form button{
	margin-left:140px;
}

#register-form select{
	margin-bottom: 3px;
}

/****E**** Register/Login Modals ****E****/

/****S**** Index Home Page ****S****/

#diary p{
	color:#FFFFFF;
	font-size:9pt;
}

#title-table{
	margin-bottom:0;
}

#title-table h4, #title-table h6{
	font-weight:300;
	display:inline-block;
}

#diary-info{
	width:auto;
	height:auto;
	max-height:590px;
	overflow:hidden;
}

#dairy-info table{
	margin-bottom:0;
}

#diary-info tr td{
	color:#4BB1CF;
	font-weight:200;
	background:rgba(0,0,0,0.8) !important;
}

#diary-info tr td strong{
	font-weight:300;
}

.scroll-btn{
	width:300px;
	height:inherit;
	background:#F9F9F9;
	text-align:center;
}

#weather{
	width:300px;
	height:86px;
	max-height:86px;
	background:url("../img/sunny-spells.jpg") no-repeat;
	overflow:hidden;
}

#weather table tr td{
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	border:none;
}

#weather p{
	text-shadow:none !important;
	font-weight:300;
	color:#FFF;
}

/****S**** Index Home Page ****E****/

/****S**** Ski Lessons Page ****S****/

#watch-modal{
	width:720px;
	margin-left:-360px;
}

.rounded-box{
	background:rgba(255,255,255,0.8);
	border: 1px solid #d4d4d4;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	padding:0 10px 0 10px;
	margin-bottom:10px;
}

.rounded-box p{
	text-align:justify;
	text-overflow:ellipsis;
}

/****E**** Ski Lessons Page ****E****/

/****S**** Contact Us Page ****S****/

.contact-info{
	margin-bottom:0 !important;
}

.contact-info tr td{
	border:none;
}

.contact-info h4{
	color:#4BB1CF;
	font-weight:500;
}

#contact-form{
	width:380px;
	text-align:center;
}

#contact-form textarea{
	resize:vertical;
}

#contact-header tr td{
	width:341px;
	text-align:center;
	font-weight:300;
	color:#FFFFFF;
}

.white-bar-top{
	height:25px;
	background:#F9F9F9;
	text-align:center;
	box-shadow:0 1px 2px #000;
	margin-bottom:1px;
}

.white-bar-bottom{
	height:25px;
	background:#F9F9F9;
	text-align:center;
	box-shadow:0 -1px 2px #000;
	margin-top:1px;
}

/****E**** Contact Us Page ****E****/

/****S**** FAQ Page ****S****/

.accordion a{
	color:#002A80;
}

.label{
	text-shadow:none !important;
	font-size:9pt !important;
	letter-spacing:1px;
	font-weight:300 !important;
}

.accordion-inner{
	background:rgba(255,255,255,0.8);
}

/****E**** FAQ Page ****E****/

/****S**** Club Session ****S****/

#cal-dates{
	width:840px;
	height:auto;
	margin-left:auto;
	margin-right: auto;
}

.diary-box{
	width:185px;
	height:auto;
	background:rgba(0,0,0,0.8);
	padding:10px;
	text-align:center;
	border: 1px solid #d4d4d4;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	margin-top:4px;
	display: inline-block;
}

.diary-box strong{
	font-size:9pt;
	font-weight:300;
	color:#4BB1CF;
}

.diary-box button{
	width:185px;
	margin-top:15px;
}

.month-tag{
	width:auto;
	overflow:hidden;
}

#oct-tag{
	margin-top:42px;
}

#nov-tag{
	margin-top:145px;
}

#dec-tag{
	margin-top:350px;
	margin-right:-70px;
}

.intro p{
	text-align:justify;
}

/****E**** Club Session ****E****/

/****S**** Racing Team ****S****/

#racing-team-tbl tr, #frostbite-tbl tr, #pendle-tbl tr{
	background:rgba(255,255,255,0.8);
}

#racing-team-tbl p, #frostbite-tbl p, #pendle-tbl p{
	text-align:justify;
}

/****E**** Racing Team ****E****/

